<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Exemplo Cabeçalho
        <span class="badge badge-secondary">Novo</span>
      </h1>
    </div>
  </div>

  <div class="row">
	<h1> {{texto}}</h1>
	<div class="col-4">
		<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
		  <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
		</agm-map>
	</div>
  </div>
  
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 20rem;" id="printable">
        <div class="card-body" >
          <h4 class="card-title">Cartão</h4>
          <p class="card-text">Texto ...</p>
          <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value">
          </ngx-qrcode>
        </div>
      </div>
	<button type="button" class="button" (click)="printDiv('printable')" >
		Print
	</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
